@charset "UTF-8";

.pinboard {
  font-family: Raleway;
}

.pinboard_overlay {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: crosshair;
}

.pinboard_cursor-tooltip {
  white-space: nowrap;
  border-radius: 6px;
  padding: 2px 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translateY(-50%);
}
.pinboard_marker {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 4px 8px;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  background-color: var(--pinboard-color);
  cursor: pointer;
  border: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pinboard_marker:after {
  content: "";
  position: absolute;
  bottom: -8px;
  border: 8px solid transparent;
  border-top-color: var(--pinboard-color);
  border-bottom: 0;
}
.pinboard-area {
  position: absolute;
  width: 300px;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--pinboard-color);
  transform: translateX(-50%);
}
.pinboard-area::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  border: 8px solid transparent;
  border-bottom-color: var(--pinboard-color);
  border-top: 0;
  transform: translateX(-50%);
}
